.promo {
  height: 524px;
  width: 100%;
  box-sizing: border-box;
  background-image: url('../../../images/Promo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.promo__title {
  max-width: 730px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 770px) {
  .promo {
    height: 779px;
    padding-bottom: 20px;
  }
  .promo__title {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 450px) {
  .promo {
    height: 566px;
    background-size: 248px;
    padding-bottom: 42px;
  }
  .promo__title {
    font-size: 29px;
    line-height: 39px;
  }
}
